Automatizacion_n8n/Automated LinkedIn Content Creation with GPT-4 and Gemini for Scheduled Posts.json
{
  "name": "Automated LinkedIn Content Creation with GPT-4 and Gemini for Scheduled Posts",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Content Researcher Assistant at Agentic Vibe, an AI-first automation agency helping solopreneurs, creators, and digital-first founders grow their online presence — especially on LinkedIn — through scalable, hands-free content systems.\n\nYour task is to generate high-value content topics that align with our brand pillars and resonate deeply with our audience. These topics will later be expanded into posts by another agent.\n\n🔍 What to Focus On:\nGenerate content topics (not full content) based on these strategic themes:\n\n{{ $json.title }}\n\n{{ $json.content }}\n\n{{ $json.contentSnippet }}\n\n{{ $json.link }}\n\n✅ Your Output Per Topic:\nFor each idea, generate the following:\n\nTopic Title or Core Idea (1 line)\n\nShort Rationale (1–2 sentences on why this topic matters)\n\nSuggested Angle or Hook (1 LinkedIn-style framing or contrarian take)\n\n💡 Style Guide:\nKeep ideas insightful, actionable, and future-minded\n\nFavor founder-style energy: confident, sharp, and slightly contrarian when it adds value\n\nAvoid hype or jargon — focus on clarity, systemized insight, and utility {{ $json.title }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "id": "2e2454d2-c997-4df6-9b20-d8346b3265f3",
      "name": "Content topic generator2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        720,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "5a66d832-24bc-4764-a660-276dba12c03a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        656,
        480
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ky8DVX7vLMMFmzSK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a linkedin content creator and copywriter. Given the title {{ $json.output[0].title }}, the rationale {{ $json.output[0].rationale }}, suggested hook. Generate text content for a linkedin post. Also describe a suitable image for the post esta descripntionde la  imagen debe ser atractiva tipo infografia,Evita fotos borrosas o pixeladas no incluyas texto en las imagenen, la inforgrafia debe srr clara y rpresentar el prost  genera una descricipon novedoda y orginal la imgen debe complementar el texto de la prublicacion y reforzar el mensaje del post usando español solo usas icononos y elementos visuales",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "creas post atractivos y descripciones de imgenes atractivas para post en la sinfografica no usas texto para representar la situaicon ytu objetivo es genra rimangens de alto impacto y vlaor par aresenten la idea "
            }
          ]
        },
        "batching": {}
      },
      "id": "5cf39ac9-271d-4993-aacb-5604c6dd4fe2",
      "name": "Content creator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1136,
        240
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "12a4fc6a-5d23-4f54-88c4-4d56731e457c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1136,
        432
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ky8DVX7vLMMFmzSK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post title\": \"Exciting New Feature Launch 🚀\",\n  \"post content\": \"After months of collaboration, testing, and fine-tuning, we're thrilled to introduce our latest product feature: Smart Insights. It helps users uncover meaningful patterns in their data with just a few clicks. This wouldn't have been possible without our incredible team and supportive community. We're excited for what's next — and we'd love your feedback!\",\n  \"image description\": \"A laptop screen showcasing the new Smart Insights dashboard with colorful charts and graphs, surrounded by a team clapping in the background.\"\n}"
      },
      "id": "e3babda4-1380-4089-bda0-89a182b10435",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1296,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO specialist for LinkedIn. Your task is to generate highly relevant and effective hashtags for the following post. Consider the post's content, target audience, and current LinkedIn trends to maximize visibility and engagement.\n\n<post_title>{{ $json.output['post title'] }}</post_title>\n<post_content>{{ $json.output['post content'] }}</post_content>\n\nPlease generate:\n1. **3-5 broad, high-volume hashtags** (e.g., #AI, #Marketing, #Business)\n2. **3-5 niche-specific hashtags** that are directly relevant to the post's core topic (e.g., #SocialMediaAutomation, #ContentCreationAI, #LinkedInMarketingTips)\n3. **1-2 trending/topical hashtags** if applicable (e.g., #FutureOfWork, #DigitalTransformation)\n\nPresent them as a comma-separated list.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "5efac608-f0f3-4d90-b8b2-82cf0e07ffba",
      "name": "Hashtag generator /SEO",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1632,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1cb0e8d6-921b-4229-8f4f-cf1f4b47b0a7",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1632,
        704
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ky8DVX7vLMMFmzSK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post title\": \"Exciting New Feature Launch 🚀\",\n  \"post content\": \"After months of collaboration, testing, and fine-tuning, we're thrilled to introduce our latest product feature: Smart Insights. It helps users uncover meaningful patterns in their data with just a few clicks. This wouldn't have been possible without our incredible team and supportive community. We're excited for what's next — and we'd love your feedback!\",\n  \"image description\": \"A laptop screen showcasing the new Smart Insights dashboard with colorful charts and graphs, surrounded by a team clapping in the background.\",\n\"Hashtags\":[\"#AI\",\"#Automation\"]\n}"
      },
      "id": "2722b2b0-bd79-45d2-a081-488ec3dffe23",
      "name": "Structured Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1808,
        704
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "d0570165-508a-4503-8c01-8d858635e2f8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2000,
        240
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "person": "YXxvnEJtN2",
        "text": "={{ $json.output['post content'] }}\n\n{{ $json.output.Hashtags[0] }}\n{{ $json.output.Hashtags[1] }}\n{{ $json.output.Hashtags[3] }}\n\n\n",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "={{ $json.output['post title'] }}",
          "visibility": "PUBLIC"
        }
      },
      "id": "bf6543ad-648d-4144-9cfd-06290457ff1a",
      "name": "LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        2240,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LcJIPRIQrZEKn2ul",
          "name": "LinkedIn account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://export.arxiv.org/rss/cs.AI"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        160,
        480
      ],
      "id": "1406dfdd-25e7-438b-9326-99387fee54b2",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-3.0-generate-002",
          "mode": "list",
          "cachedResultName": "models/imagen-3.0-generate-002"
        },
        "prompt": "=crea una imagen usando la descripciones del post  {{ $json.output['image description'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        192
      ],
      "id": "a7e581ed-2db8-46fc-bd1e-fec4657b9133",
      "name": "Generate an image",
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "Fz7gDkwnKZH1uWEi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n \"title\": \"AI as Your First Content Hire: Why Founders Shouldn't Wait to Outsource Creation\",\n            \"rationale\": \"Most solopreneurs delay content scaling because they think hiring a ghostwriter is the next step — but AI can handle 80% with proper systems. This shifts content from a creative bottleneck to a scalable growth lever.\",\n            \"hook\": \"Ghostwriters are outdated. Train GPT once, and it ships LinkedIn gold in your voice daily. Welcome to hands-free thought leadership.\"\n          }]"
      },
      "id": "80151eb2-6880-4d7e-bb48-75f17e8586ba",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        960,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "tableId": "n8nmemory",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "recipient",
              "fieldValue": "={{ $('RSS Feed Trigger').item.json.creator }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('RSS Feed Trigger').item.json.content }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('RSS Feed Trigger').item.json.guid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        816,
        528
      ],
      "id": "291cbaec-364f-4d24-adff-764e9b340c0f",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "lQpl5LzBMtQDN2z5",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content creator": {
      "main": [
        [
          {
            "node": "Hashtag generator /SEO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Hashtag generator /SEO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hashtag generator /SEO": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Content topic generator2": {
      "main": [
        [
          {
            "node": "Content creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Content creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hashtag generator /SEO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Content topic generator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Content topic generator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "c743f5ee-8821-46fd-ae31-aa7ed0faae09",
  "meta": {
    "templateId": "4968",
    "templateCredsSetupCompleted": true,
    "instanceId": "fab9955a35c72b3658e9cc7074f48b8378bf528f593bdaf1bc3e7be06326eb75"
  },
  "id": "DjjscQQfrljJOKvf",
  "tags": []
}